syntax: glob
core
_build/
bin-*
build/
*.log
*.jpeg
*.dvi
*.idx
*.png
*.ilg
*.ind
*.toc
*.blg
*.bbl
*.lot
*.nav
*.out
*.snm
*.vrb
*.aux
*.orig
*.swp
*.gcno
tags
*~
*.s
*.ko
*.o
*.pdf
*.class
*.jar
*.orig
*.cmd
*Kconfig
*.mod
*.mod.c
*.order
*.symvers
cscope.out
cscope.po.out
cscope.in.out
*.o.d
*o.cmd
*map
e-*
*pickle
*doctree
*buildinfo
*gif
*jpg
*inv
*swo
*swm
*.d*
*pyc*
*__pycache__*
*.e
*.o
*.s
*.elf
elf.*
*build_glibc_2_24*
*install_glibc_2_24*
